*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HERO SECTION EDIT STARTS HERE */
section.hero{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* HERO SECTION EDIT ENDS HERE */

/* ONE HALF OF HERO SECTION EDIT STARTS HERE */
.hero1{
    height: 50vh;
    width: 85vw;
}

.hero1 img{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
/* ONE HALF OF HERO SECTION EDIT ENDS HERE */

/* SECOND HALF OF HERO SECTION EDIT STARTS HERE */
.hero2a{
    display: flex;
    flex-direction: column;
}

.hero2a h3{
    padding-bottom: 0.9rem;
    color: #094780;
}

.hero2a p{
    padding: 0.2rem 0;
}

.inputF label{
    font-size: 0.8rem;
    color: #737373;
}

.inputF input{
    padding: 0.5rem;
    width: 85vw;
}

.sub-btn{
    background-color: #094780;
    color: white;
    border-radius: 0.4rem;
    border: none;
}

.or{
    padding-top: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.or hr{
    width: 100%;
    height: 0.1rem;
}

.cons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.cons span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem 0;
    border: 1px solid #094780;
    border-radius: 0.4rem;
}

.account{
    text-align: center;
    font-size: 0.9rem;
}

.account span{
    color: #094780;
}
/* SECOND HALF OF HERO SECTION EDIT ENDS HERE */